<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <img
      class="icon-container--chevron collapsible__chevron"
      src="/images/chevron.svg"
      alt="a button with an arrow"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas harum
    officiis quasi similique modi labore laborum quibusdam asperiores vero in?
  </div>
</div>
<script src="js/main.js"></script>
